<h1>エラーメッセージと解決方法一覧。</h1>
<h3>プログラミングで突き当たった、エラーメッセージの解決方法や参考URL</h3>

<table class="table table-bordered">
    <thead class="thead-dark"> 
        <tr>
            <th>タイトル</th><th>エラー</th><th>解決策</th><th>参考リンク</th><th></th><th></th>
        </tr>
    </thead>
    <tbody>
        <% @programming.each do |obj| %>
        <tr>
            <td><a href="/programming/<%= obj.id%>"><%= obj.title %></a></td>
            <td><%= obj.question %></td>
            <td><%= obj.answer %></td>
            <td><%= obj.url %></td>
            <td><a href="/programming/edit/<%= obj.id%>">編集</a></td>
            <td><a href="javascript:delData<%= obj.id%>);">Delete</a></td>
        </tr>
    </tbody>
        <% end %>
</table>
<script>
function delData(num){
    if(confirm('このデータを削除しますか？')){
        document.location = "/programming/delete/" + num;
    }
    return false;
} 
</script>
